*.iml
.gradle/
.idea/
local.properties
**/build/
**/.cxx/
third_party/vins_android_deps/downloads/
third_party/vins_android_deps/ceres-build-*/
third_party/vins_android_deps/ceres/arm64-v8a/
third_party/vins_android_deps/opencv/
third_party/vins_android_deps/eigen3/
third_party/vins_android_deps/boost-header-stage/
work/
*.apk
*.aab
*.log
