*.so filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
third_party/** -whitespace
app/src/main/assets/source_port/** -whitespace
app/src/main/cpp/vins_android/ros_compat/** -whitespace
librealsense/** -whitespace
